<!-- Editable table -->
<div id = "main">
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Competitions</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
            <mdb-icon fas icon="plus" size="2x"></mdb-icon>
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Max Team Size</th>
            <th class="text-center">Registered teams</th> 
            <th class="text-center">Edit</th>
            <th class="text-center">Remove</th>
          </tr>
          <tr *ngFor="let competition of competitions;">
            <td>
              {{competition.name}}
            </td>
            <td>
              {{competition.description}}
            </td>
            <td>
              {{competition.maxTeamSize}}
            </td>
            <td>
                {{competition.teams.length}}
            </td>
            <td>
                <span class="table-edit">
                  <button type="button" mdbBtn color="blue" rounded="true" size="sm" class="my-0" (click)="edit(competition.id)">Edit</button>
                </span>
              </td>
            <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(competition.id)">Remove</button>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
</div>