<div *ngIf="this.loader==true" class="spinner_overlay"></div>
<!--Main layout-->
<main class="mt-5">

  <!--Main container-->
  <div class="container">

    <div *ngIf="this.loader==true" class="spinner-border text-blue" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    
    <!--Grid row-->
    <div class="row">
      <app-competitioncard class="col-lg-4 col-md-6 mb-4" *ngFor="let competition of competitions"
        [competition]="competition"></app-competitioncard>




    </div>
    <!--Grid row-->

  </div>
  <!--Main container-->

</main>
<!--Main layout-->

<!-- Footer -->