<!-- Material form login -->
<div id="main">
    <div class="col-lg-4 col-md-6 offset-md-4 mb-4">
      <mdb-card>
  
        <mdb-card-header class="info-color white-text text-center py-4">
          <h5>
            <strong>edit Competition</strong>
          </h5>
        </mdb-card-header>
  
  
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
  
          <!-- Form -->
          <form [formGroup]="editCompetitionForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">
  

            <div class="md-form">
                <input disabled #id type="text" formControlName="id" id="materialeditCompetitionFormID" class="form-control"
                 mdbInput>
                <label for="materialeditCompetitionFormID">ID</label>
            </div>

            <!-- Name -->
            <div class="md-form">
              <input #name type="text" formControlName="name" id="materialeditCompetitionFormName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" mdbInput>
              <label for="materialeditCompetitionFormName">Competition Name</label>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Competition name is required</div>
              </div>
            </div>
  
            <!-- Description -->
            <div class="md-form">
              <input #description type="text" formControlName="description" id="materialeditCompetitionFormDescription"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" mdbInput>
              <label for="materialeditCompetitionFormDescription">Description</label>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
              </div>
            </div>
  
            <!-- Max team size -->
            <div class="md-form">
                <input  #maxTeamSize type="number" formControlName="maxTeamSize" id="materialeditCompetitionFormMaxTeamSize"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maxTeamSize.errors }" mdbInput>
                <label for="materialeditCompetitionFormMaxTeamSize">Max Team Size</label>
                <div *ngIf="submitted && f.maxTeamSize.errors" class="invalid-feedback">
                  <div *ngIf="f.maxTeamSize.errors.required">Max team size is required</div>
                </div>
              </div>
    
            
            <!-- Create button -->
            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
              mdbWavesEffect type="submit">Edit</button>
  
           
  
          </form>
          <!-- Form -->
  
        </mdb-card-body>
  
      </mdb-card>
      <!-- Material form login -->
    </div>
  </div>