<!-- Material form login -->
<div id="main">
  <div class="col-lg-4 col-md-6 offset-md-4 mb-4">
    <mdb-card>

      <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
          <strong>Add Team</strong>
        </h5>
      </mdb-card-header>


      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-0">

        <!-- Form -->
        <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">

          <!-- Email -->
          <div class="md-form">
            <input #name type="text" formControlName="name" id="materialaddCompetitionFormName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" mdbInput>
            <label for="materialaddCompetitionFormName">Team Name</label>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Team name is required</div>
            </div>
          </div>
         
          <div formArrayName="teamMemberList"
            *ngFor="let member of teamForm.get('teamMemberList').controls; let i = index;">
            <div [formGroupName]="i">
              <div class="md-form">
                <input #firstname type="text" formControlName="firstname" class="form-control" mdbInput>
                <label for="teamMemberFirstName">Team Member #{{i+1}}'s firstname</label>
              </div>
              <div class="md-form">
                <input #lastname type="text" formControlName="lastname" class="form-control" mdbInput>
                <label for="teamMemberLastName">Team Member #{{i+1}}'s lastname</label>
              </div>
              <div class="md-form">
                <input #cnic type="text" formControlName="cnic" class="form-control" mdbInput>
                <label for="teamMemberCnic">Team Member #{{i+1}}'s CNIC</label>
              </div>
            </div>
          </div>




          <button type="button" mdbBtn color="info" outline="true" rounded="true" block="true"
            class="my-4 waves-effect z-depth-0" mdbWavesEffect (click)="this.addMember()">Add Member</button>
          <!-- Create button -->
          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
            mdbWavesEffect type="submit">Create</button>



        </form>
        <!-- Form -->

      </mdb-card-body>

    </mdb-card>
    <!-- Material form login -->
  </div>
</div>